AWS_REGION=us-east-1

# Terraform reads these env vars to set default values for variables in .tf files
TF_VAR_project_name=atlasflow
TF_VAR_region=us-east-1

# LocalStack endpoint for AWS CLI and SDKs to interact with LocalStack instead of real AWS services
LOCALSTACK_ENDPOINT=http://127.0.0.1:4566

